{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-default" value="Редагувати" />
    {{ form_end(edit_form) }}
    <div class="text-center">
        <ul class="list-group">
            <li>
                <a href="{{ path('reception_schedule_index') }}" class="btn btn-default">Назад до списку</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-danger" value="Видалити">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}