{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Місце роботи</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.number }}</td>
                <td>{{ patient.work }}</td>
                <td>
                    <ul class="list-group">
                        <li>
                            <a href="{{ path('reception_schedule_show', { 'id': patient.id }) }}">переглянути</a>
                        </li>
                        <li>
                            <a href="{{ path('reception_schedule_edit', { 'id': patient.id }) }}">редагувати</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reception_schedule_new') }}">Створити новий запис</a>
        </li>
    </ul>
{% endblock %}
