{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/framework/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/validationEngine.jquery.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css"/>
    <link href="{{ asset('/bundles/framework/css/styles.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body text-center">Початкова популяція<span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                </div>
                {% include "patient/population.html.twig" with {"population" : population} %}
                {% include "patient/iterations.html.twig" with {"iterations" : iterations, "iterate" : iterate} %}
            </div>
        </div>
    </div>

    <div class="modal"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/framework/js/schedule.js') }}"></script>
{% endblock %}
