{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <table>
        <tbody>
            <tr>
                <th>Номер</th>
                <td>{{ patient.number }}</td>
            </tr>
            <tr>
                <th>Місце роботи</th>
                <td>{{ patient.work }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
    <ul class="list-group">
        <li>
            <a href="{{ path('reception_schedule_index') }}" class="btn btn-default">Назад до списку</a>
        </li>
        <li>
            <a href="{{ path('reception_schedule_edit', { 'id': patient.id }) }}" class="btn btn-default">Редагувати</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Видалити">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}