<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="KOI8-U" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Medicine Guide</title>
        <link href="{{ asset('/bundles/framework/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/validationEngine.jquery.css') }}"/>
        <link href="{{ asset('/bundles/framework/css/styles.css') }}" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    {% endblock %}
    <head>
        {% block header %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {#<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->#}
        {#<script src="{{ asset('/bundles/framework/js/jQuery/jquery-1.12.3.min.js') }}"></script>#}
        <!-- Include all JavaScripts, compiled by Assetic -->

    </body>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% block javascripts %}
        <script src="{{ asset('bundles/framework/js/jQuery/jquery-1.12.3.min.js') }}"></script>
        <script src="{{ asset('bundles/framework/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/framework/js/jQuery/jquery.ValidationEngine.js') }}"></script>
        <script src="{{ asset('bundles/framework/js/jQuery/jquery.ValidationEngine-en.js') }}"></script>
        <script src="{{ asset('bundles/framework/js/script.js') }}"></script>
    {% endblock %}
</html>