{% extends 'base.html.twig' %}

{% block body %}
    <div id="background">
        <div id="Background"><img src="{{ asset('images/Background.png') }}"></div>
        <div id="Layer1"><img src=" {{ asset('images/Layer1.png') }}"></div>
        <div id="ABOUTPROJECT"><img src=" {{ asset('images/ABOUTPROJECT.png') }}"></div>
        <div id="YourmadheartgoesCrus"><img src="{{ asset('images/YourmadheartgoesCrus.png') }}"></div>
        <div id="Whenyouareseventeeny"><img src="{{ asset('images/Whenyouareseventeeny.png') }}"></div>
        <div id="Layer3"><img src="{{ asset('images/Layer3.png') }}"></div>
        <div id="e2"><img src="{{ asset('images/e2.png') }}"></div>
        <div id="e1"><img src="{{ asset('images/e1.png') }}"></div>
        <div id="m1"><img src="{{ asset('images/m1.png') }}"></div>
        <div id="m2"><img src="{{ asset('images/m2.png') }}"></div>
        <div id="Shape4"><img src="{{ asset('images/Shape4.png') }}"></div>
        <div id="Shape5"><img src="{{ asset('images/Shape5.png') }}"></div>
        <div id="Shape6"><img src="{{ asset('images/Shape6.png') }}"></div>
        <div id="Shape7"><img src="{{ asset('images/Shape7.png') }}"></div>
        <div id="l2"><img src="{{ asset('images/l2.png') }}"></div>
        <div id="l1"><img src="{{ asset('images/l1.png') }}"></div>
        <div id="twi"><img src="{{ asset('images/twi.png') }}"></div>
        <div id="fb"><img src="{{ asset('images/fb.png') }}"></div>
        <div id="vk"><img src="{{ asset('images/vk.png') }}"></div>
        <div id="Eleonorakorobova"><img src="{{ asset('images/Eleonorakorobova.png') }}"></div>
        <div id="THETEAM"><img src="{{ asset('images/THETEAM.png') }}"></div>
        <div id="Layer0copy"><img src="{{ asset('images/Layer0copy.png') }}"></div>
        <div id="Shape3"><img src="{{ asset('images/Shape3.png') }}"></div>
        <div id="Shape3copy"><img src="{{ asset('images/Shape3copy.png') }}"></div>
        <div id="login"><img src="{{ asset('images/login.png') }}"></div>
        <div id="Contactus"><img src="{{ asset('images/Contactus.png') }}"></div>
        <div id="MG"><img src="{{ asset('images/MG.png') }}"></div>
        <div id="Benedignosciturbenec"><img src="{{ asset('images/Benedignosciturbenec.png') }}"></div>
        <div id="Shape2"><img src="{{ asset('images/Shape2.png') }}"></div>
        <div id="MEDICALGUIDE"><img src="{{ asset('images/MEDICALGUIDE.png') }}"></div>
    </div>
{% endblock %}
