{% extends 'base.html.twig' %}

{% block body %}
    <div id="background">
        <div id="Background"><img src="{{ asset('images/Background.png') }}"></div>
        <div id="Layer1"><img src=" {{ asset('images/Layer1.png') }}"></div>
        <div id="layer_8"><img src=" {{ asset('images/layer_8.png') }}"></div>
        <div id="YourmadheartgoesCrus"><img src="{{ asset('images/YourmadheartgoesCrus.png') }}"></div>
        <div id="Whenyouareseventeeny"><img src="{{ asset('images/Whenyouareseventeeny.png') }}"></div>
        <div id="Layer3"><img src="{{ asset('images/Layer3.png') }}"></div>
        <div id="Layer6"><img src="{{ asset('images/Layer6.png') }}"></div>
        <div id="Layer5"><img src="{{ asset('images/Layer5.png') }}"></div>
        <div id="Shape8"><img src="{{ asset('images/Shape8.png') }}"></div>
        <div id="e2"><img src="{{ asset('images/e2.png') }}"></div>
        <div id="e1"><img src="{{ asset('images/e1.png') }}"></div>
        <div id="m1"><img src="{{ asset('images/m1.png') }}"></div>
        <div id="m2"><img src="{{ asset('images/m2.png') }}"></div>
        <div id="l2"><img src="{{ asset('images/l4.png') }}"></div>
        <div id="l1"><img src="{{ asset('images/l3.png') }}"></div>
        <div id="twi"><img src="{{ asset('images/twi.png') }}"></div>
        <div id="fb"><img src="{{ asset('images/fb.png') }}"></div>
        <div id="vk"><img src="{{ asset('images/vk.png') }}"></div>
        <div id="twicopy"><img src="{{ asset('images/twicopy.png') }}"></div>
        <div id="fbcopy"><img src="{{ asset('images/fbcopy.png') }}"></div>
        <div id="vkcopy"><img src="{{ asset('images/vkcopy.png') }}"></div>
        <div id="twicopy2"><img src="{{ asset('images/twicopy2.png') }}"></div>
        <div id="fbcopy2"><img src="{{ asset('images/fbcopy2.png') }}"></div>
        <div id="vkcopy2"><img src="{{ asset('images/vkcopy2.png') }}"></div>
        <div id="layer_27"><img src="{{ asset('images/layer_27.png') }}"></div>
        <div id="layer_28"><img src="{{ asset('images/layer_28.png') }}"></div>
        <div id="layer_29"><img src="{{ asset('images/layer_29.png') }}"></div>
        <div id="layer_30"><img src="{{ asset('images/layer_30.png') }}"></div>
        <div id="Layer0copy"><img src="{{ asset('images/Layer0copy.png') }}">

        <div id="layer_34"><a href="/auth"><img src="{{ asset('images/layer_34.png') }}"></a></div></div>
        <div id="Shape3"><img src="{{ asset('images/Shape3.png') }}"></div>
        <div id="Shape3copy"><img src="{{ asset('images/Shape3copy.png') }}"></div>
        <div id="layer_35"><img src="{{ asset('images/layer_35.png') }}"></div>
        <div id="MG"><img src="{{ asset('images/MG.png') }}"></div>
        <div id="Benedignosciturbenec"><img src="{{ asset('images/Benedignosciturbenec.png') }}"></div>
        <div id="Shape2"><img src="{{ asset('images/Shape2.png') }}"></div>
        <div id="MEDICALGUIDE"><img src="{{ asset('images/MEDICALGUIDE.png') }}"></div>
        <div id="MEDICALGUIDE2016"><img src="{{ asset('images/MEDICALGUIDE2016.png') }}"></div>
    </div>
{% endblock %}