{% extends 'base.html.twig' %}

{% block header %}
	<div>
		<div class="r" id="main">
			<div class="col-md-4" id="title"> <a href="/"><h1>Medical Guide</h1></a></div>
			<nav class="col-md-7" id="menu">
				{#<div class="row">#}
				{#<div class="col-md-1">#}
				<a href="/auth" id="login"><h3>вхід</h3></a>
				{#</div>#}
				{#<div class="col-md-2">#}
				<span>/</span>
				{#</div>#}
				{#<div class="col-md-9">#}
				<a href="#team"><h3>зв'язатися з нами</h3></a>
				{#</div>#}
				{#</div>#}
			</nav>
			<div class="col-md-1" id="logo"><a href="/"><img src="{{ asset('images/mg_small.png') }}"></a></div>
		</div>
		<hr align="center" width="100%" size="1" color="#B4B4B4" />
	</div>

{% endblock %}

{% block body %}
	<div class="container" id="block1">
		<div class="row" id="pics1">
			<div class="col-md-5">
			<img src="{{ asset('images/pic1.png') }}" hspace="10" vspace="10">
			<img src="{{ asset('images/pic2.png') }}" hspace="10" vspace="10">
			<img src="{{ asset('images/pic3.png') }}" hspace="10" vspace="10">
			</div>
			<div class="col-md-7" id="about">
			<h4>Medical Guide - проект, розроблений для допомоги лікарям у постановці вірного діагнозу та створення ефективного лікування</h4>
			</div>
		</div>
		<div class="row" id="pics2">
			<div class="col-md-5">
			<img src="{{ asset('images/pic4.png') }}" hspace="10" vspace="10">
			<img src="{{ asset('images/pic5.png') }}" hspace="10" vspace="10">
			<img src="{{ asset('images/pic6.png') }}" hspace="10" vspace="10">
			</div>
		</div>
	</div>
	<hr align="center" width="100%" size="1" color="#B4B4B4" />
	<div class="container" id="block2">
		<div id="team"> <h3>Команда</h3> </div>
		<div class="row">
			<div class="col-md-4">
				<figure class="sign">
					<p><img src="images/mary.png" height="150" width="150""> </p>
					<figcaption><p>Марина Обловацька</p></figcaption>
						<div class="row">
							<a href="https://www.facebook.com/marina.oblovatska"> <img src="{{ asset('images/mfb.png') }}"></a>
							<a href="http://vk.com/id16073030"><img src="{{ asset('images/mvk.png') }}"></a>
						</div>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="sign">
					<p><img src="images/elya.png" height="150" width="150"> </p>
					<figcaption><p>Елеонора Коробова</p></figcaption>
					<div class="row">
						<a href="https://www.facebook.com/elya.korobova"> <img src="{{ asset('images/mfb.png') }}"></a>
						<a href="http://vk.com/korobovaelya"><img src="{{ asset('images/mvk.png') }}"></a>
					</div>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="sign">
					<p><img src="images/lesya.png" height="150" width="150"> </p>
					<figcaption><p>Олександра Ткаліч</p></figcaption>
					<div class="row">
						<a href="https://www.facebook.com/oleksandra.tkalich"> <img src="{{ asset('images/mfb.png') }}"></a>
						<a href="http://vk.com/id13411849"><img src="{{ asset('images/mvk.png') }}"></a>
					</div>
				</figure>
			</div>
		</div>
	</div>
	<hr align="center" width="100%" size="1" color="#B4B4B4" />
{% endblock %}

{% block footer %}
	<div class="container" id="foot">
		<a href="#top"> <h3> вгору</h3></a>
		<div id="cpr"><p>Medical Guide (c) 2016</p></div>
	</div>
{% endblock %}