{% extends 'base.html.twig' %}

{% block body %}
	<head>
	
        	<div id="login"><a href="/auth"><img src="{{ asset('images/login.png') }}"></a></div>
		<div id="connect"><img src="{{asset('images/connect.png') }}"></div> 
		<div id="mainmenu"><img src="{{ asset('images/mainmenu.png') }}"></div>
		<div id="header"><img src="{{ asset('images/head.png') }}"></div>
	</head>
	<body>
		<div id="about"><img src="{{ asset('images/about.png') }}"></div>
		<div id="aboutbk"><img src="{{ asset('images/aboutbk.png') }}"></div>
	        <div id="YourmadheartgoesCrus"><img src="{{ asset('images/YourmadheartgoesCrus.png') }}"></div>
        	<div id="Whenyouareseventeeny"><img src="{{ asset('images/Whenyouareseventeeny.png') }}"></div>
	        <div id="teambk"><img src="{{ asset('images/teambk.png') }}"></div>
	        <div id="theteam"><img src="{{ asset('images/theteam.png') }}"></div>
        	<div id="m2"><img src="{{ asset('images/m2.png') }}"></div>
		        <div id="mary"><img src="{{ asset('images/mary.png') }}"></div>
		        <div id="mtwi"><img src="{{ asset('images/mtwi.png') }}"></div>
        		<div id="mfb"><img src="{{ asset('images/mfb.png') }}"></div>
        		<div id="mvk"><img src="{{ asset('images/mvk.png') }}"></div>
		<div id="e1"><img src="{{ asset('images/e1.png') }}"></div>
		        <div id="elya"><img src="{{ asset('images/elya.png') }}"></div>	
        		<div id="etwi"><img src="{{ asset('images/etwi.png') }}"></div>
        		<div id="efb"><img src="{{ asset('images/efb.png') }}"></div>
        		<div id="evk"><img src="{{ asset('images/evk.png') }}"></div>
        	<div id="l3"><img src="{{ asset('images/l3.png') }}"></div>
		        <div id="lesya"><img src="{{ asset('images/lesya.png') }}"></div>
        		<div id="ltwi"><img src="{{ asset('images/ltwi.png') }}"></div>
        		<div id="lfb"><img src="{{ asset('images/lfb.png') }}"></div>
        		<div id="lvk"><img src="{{ asset('images/lvk.png') }}"></div>
	</body>
	<footer>
        <div id="footerbk"><img src="{{ asset('images/footerbk.png') }}"></div>
	<div id="up"><img src="{{ asset('images/up.png') }}"></div>
        <div id="Shape8"><img src="{{ asset('images/Shape8.png') }}"></div>
        <div id="copyright"><img src="{{ asset('images/copyright.png') }}"></div>
	</footer>
    </div> 
	
</div>
{% endblock %}