{% extends 'base.html.twig' %}

{% block body %}
    <h1>ConfPerson list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Patronymic</th>
                <th>Phone_number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for confPerson in confPeople %}
            <tr>
                <td><a href="{{ path('reception_confidant_show', { 'id': confPerson.id }) }}">{{ confPerson.id }}</a></td>
                <td>{{ confPerson.firstname }}</td>
                <td>{{ confPerson.lastname }}</td>
                <td>{{ confPerson.patronymic }}</td>
                <td>{{ confPerson.phonenumber }}</td>
                <td>
                    <ul>
                        {#<li>#}
                            {#<a href="{{ path('reception_confidant_show', { 'id': confPerson.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('reception_confidant_edit', { 'id': confPerson.id }) }}">edit</a>#}
                        {#</li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reception_confidant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
