{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="col-md-offset-5">Дії</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('reception_index') }}">Назад до списку</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('reception_confidant_edit', { 'actorId': confPerson.actorId }) }}">Редагувати</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ім'я</th>
                <td>{{ confPerson.firstname }}</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>{{ confPerson.lastname }}</td>
            </tr>
            <tr>
                <th>По-батькові</th>
                <td>{{ confPerson.patronymic }}</td>
            </tr>
            <tr>
                <th>Номер телефону</th>
                <td>{{ confPerson.phonenumber }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}