{% extends 'base.html.twig' %}

{% block body %}
    {% include 'confperson/header.html.twig' %}
    <div class="col-md-6 col-md-offset-3">
    <div class="row">
        <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ім'я</th>
                <td>{{ confPerson.firstname }}</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>{{ confPerson.lastname }}</td>
            </tr>
            <tr>
                <th>По-батькові</th>
                <td>{{ confPerson.patronymic }}</td>
            </tr>
            <tr>
                <th>Номер телефону</th>
                <td>{{ confPerson.phonenumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('reception_index') }}" class="btn btn-warning">Назад до списку</a>
        </li>
        <li>
            <a href="{{ path('reception_confidant_edit', { 'actorId': confPerson.actorId }) }}" class="btn btn-warning">Редагувати</a>
        </li>
        </ul>
        {{ form_start(delete_form) }}
        <div class="btn-right">
            <input type="submit" class="btn btn-danger" value="Видалити">
        </div>
        {{ form_end(delete_form) }}
{% endblock %}