{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/jquery.ui.timepicker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h3>
            <small>Вільні години:</small>
        </h3>
        <form action="/reception/appointment/" method="post" name="visit">
            <ul class="list-group">
                {% for time in times %}
                    <li class="list-group-item list-group-item-success">
                        <input type="radio" value="{{ time.begTime | date('H:i:s') }} {{ time.endTime | date('H:i:s') }}" name="visitTime">
                        {{ time.begTime | date('H:i:s') }} - {{ time.endTime | date('H:i:s') }}
                    </li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <input type="submit" name="saveVisit" value="Зберегти" class="btn btn-default">
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
{% block javascripts %}
    <script src="{{ asset('bundles/framework/js/jquery.ui.timepicker.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script>
        $(".beginTime").timepicker();
        $(".endTime").timepicker();
    </script>
{% endblock %}