{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/jquery.ui.timepicker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h3>
            <small>Вільні години:</small>
        </h3>
        <form action="/reception/appointment/" method="post" name="visit">
            <ul class="list-group">
                {% for time in times %}
                    <li class="list-group-item list-group-item-success">
                        <input type="radio" value="{{ time.begTime | date('H:i:s') }} {{ time.endTime | date('H:i:s') }}" name="visitTime">
                        {{ time.begTime | date('H:i:s') }} - {{ time.endTime | date('H:i:s') }}
                    </li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <input type="submit" name="saveVisit" value="Зберегти" class="btn btn-default">
                </div>
            </div>
        </form>
        {#<h3>
            <small>Зайнятий час:</small>
        </h3>
        <ul class="list-group">
            {% for appointment in app %}
                <li class="list-group-item list-group-item-danger">
                    {{ appointment.beginTime | date('H:i:s') }} - {{ appointment.endTime | date('H:i:s') }}
                </li>
            {% endfor %}
        </ul>#}
    </div>
</div>
<hr>
{#
<div class="panel panel-info">
    <div class="panel-heading">Час візиту</div>
    <div class="panel-body">
        <div class="form-group">
            <form action="/reception/appointment/" method="post">
                <label>Початок</label>
                <input name="beginTime" type="text" class="beginTime form-control"/>
                <br/>
                <label>Кінець</label>
                <input name="endTime" type="text" class="endTime form-control"/>
                <input value="Зберегти" type="submit" class="btn btn-sm btn-success save_appointment"/>
            </form>
        </div>
    </div>
    </div>
</div>
#}
{% block javascripts %}
    <script src="{{ asset('bundles/framework/js/jquery.ui.timepicker.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script>
        $(".beginTime").timepicker();
        $(".endTime").timepicker();
    </script>
{% endblock %}