{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-pencil-square-o fa-3x"></i></div>
                            <div class="panel-body">
                                {{ form_start(edit_form, {'attr' : {'novalidate' : 'novalidate'}}) }}
                                {{ form_widget(edit_form) }}
                                <input type="submit" value="Edit" class="btn btn-success"/>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('reception_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
