{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>


{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-5">Дії</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{{ path('reception_index') }}">На головну</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="well" style="border-color: #EBF5FB; background-color:#F8F9F9;">
                    <table class="table table-hover reg_info">
                        <thead>
                        <tr>
                            <th><div class="col-md-offset-5"> Пацієнти </div></th>
                            <th>
                                <div class="col-md-offset-5">  Дії </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for regInfo in regInfos %}
                            <tr>
                                <td>
                                    <h4>{{ regInfo.lastName }} {{ regInfo.firstName }} {{ regInfo.patronymic }}
                                        <small>({{ regInfo.phone }})</small>
                                    </h4>

                                </td>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item"><a
                                                    href="{{ path('reception_confidant_show', { 'actorId': regInfo.actorId.id }) }}">Довірена
                                                особа</a></li>
                                        <li class="list-group-item"><a
                                                    href="{{ path('reception_show', { 'actorId': regInfo.actorId.id }) }}">Переглянути</a>
                                        </li>
                                        <li class="list-group-item"><a
                                                    href="{{ path('reception_edit', { 'actorId': regInfo.actorId.id }) }}">Редагувати</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script>
        // $('.admin').DataTable();
        $('.reg_info').DataTable({
            responsive: true
        });
    </script>
{% endblock %}
