{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
{% endblock %}


{% block body %}
<div class="col-md-12 col-md-offset-0">
    <div class="container-fluid">
        <div class="row">
                <div class="alert alert-success">
                    <div class="text-center">
                        <a href="{{ path('reception_new') }}">Створити новий запис</a>
                    </div>
                </div>
                <table class="table table-hover reg_info">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>По-батькові</th>
                        <th>День Народження</th>
                        <th>Телефон</th>
                        <th>Паспорт</th>
                        <th>Спеціальність</th>
                        <th>Місто</th>
                        <th>Район</th>
                        <th>Пошта</th>
                        <th>Довірена особа</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for regInfo in regInfos %}

                        <tr>
                            <td>{{ regInfo.firstName }}</td>
                            <td>{{ regInfo.lastName }}</td>
                            <td>{{ regInfo.patronymic }}</td>
                            <td>{% if regInfo.birthday %}{{ regInfo.birthday|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ regInfo.phone }}</td>
                            <td>{{ regInfo.passport }}</td>
                            <td>{{ regInfo.job.name }}</td>
                            <td>{{ regInfo.city }}</td>
                            <td>{{ regInfo.district.name }}</td>
                            <td>{{ regInfo.email }}</td>
                            <td><a href="{{ path('reception_confidant_show', { 'actorId': regInfo.actorId.id }) }}">Особа</a>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li>
                                        <a href="{{ path('reception_show', { 'actorId': regInfo.actorId.id }) }}">Показати</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('reception_edit', { 'actorId': regInfo.actorId.id }) }}">Редагувати</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
        // $('.admin').DataTable();
        $('.reg_info').DataTable({
            responsive: true
        });
    </script>
{% endblock %}
