{% extends 'base.html.twig' %}

{% block body %}
{% include 'header.html.twig' %}

    <div class="col-md-6 col-md-offset-3">
    <div class="row">
        <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ім'я</th>
                <td>{{ regInfo.firstName }}</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>{{ regInfo.lastName }}</td>
            </tr>
            <tr>
                <th>По-батькові</th>
                <td>{{ regInfo.patronymic }}</td>
            </tr>
            <tr>
                <th>День Народження</th>
                <td>{% if regInfo.birthday %}{{ regInfo.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ regInfo.phone }}</td>
            </tr>
            <tr>
                <th>Паспорт</th>
                <td>{{ regInfo.passport }}</td>
            </tr>
            <tr>
                <th>Місто</th>
                <td>{{ regInfo.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('reception_index') }}" class="btn btn-warning">Назад до списку</a>
        </li>
        <li>
            <a href="{{ path('reception_edit', { 'actorId': regInfo.actorId.id }) }}" class="btn btn-warning">Редагувати</a>
        </li>
    </ul>
        {{ form_start(delete_form) }}
        <div class="btn-right">
            <input type="submit" class="btn btn-danger" value="Видалити">
        </div>
        {{ form_end(delete_form) }}

{% endblock %}
