{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-5">Дії</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/reception/timetable">Години роботи лікарів</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/reception/visits">Додати зустріч</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path("reception_schedule_index") }}">Генетичний алгоритм</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-info"><a class="sympt_info" href="#"><span
                                        class="ui-icon ui-icon-info">ddfd</span></a></div>
                        <div class="panel-body">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="appointment"></div>
                    </div>
                </div>
            </div>
            <div class="modal"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/framework/js/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/framework/js/jquery.datetimepicker.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ asset('bundles/framework/js/treatment.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/framework/js/jQuery/datepicker-uk.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript">
        $body = $("body");
        $(document).on({
            ajaxStart: function () {
                $body.addClass("loading");
            },
            ajaxStop: function () {
                $body.removeClass("loading");
            }
        });
        $(function () {
            $(".getSchedule").click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/reception/load/schedule",
                    data: {
                        "doc": $("#form_doctor").val(),
                        "pat": $("#form_patient").val(),
                        "date": $("#form_date").val()
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        if (data.exists) {
                            $(".appointment").html("<div class='alert alert-danger' role='alert'>Додайте години роботи лікаря!</div>");
                        } else {
                            $(".appointment").html(data.appointment);
                        }
                    }
                })
            });
            jQuery.datetimepicker.setLocale('uk');
        });
    </script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(name = "form").validationEngine();
            $.datepicker.setDefaults(
                    $.extend(
                            $.datepicker.regional['uk']
                    )
            );
            $(".datepicker").datepicker({
                maxDate: "+1m +1w",
                dateFormat: "yy-mm-dd",
                minDate: "+0d"
            });
            $(".doc").tagit({
                allowSpaces: true,
                tagLimit: 1,
                singleFieldDelimiter: ',',
                requireAutocomplete: true,
                removeConfirmation: true,
                tagSource: function (search, showChoices) {
                    $.ajax({
                        url: "/reception/search/doctor",
                        data: {"search": search.term},
                        type: "POST",
                        dataType: "json",
                        success: function (choices) {
                            showChoices(choices.doctors);
                        }
                    })
                }
            });
            $(".pat").tagit({
                allowSpaces: true,
                tagLimit: 1,
                singleFieldDelimiter: ',',
                requireAutocomplete: true,
                removeConfirmation: true,
                tagSource: function (search, showChoices) {
                    $.ajax({
                        url: "/reception/search/patient",
                        data: {"search": search.term},
                        type: "POST",
                        dataType: "json",
                        success: function (choices) {
                            showChoices(choices.patients);
                        }
                    })
                }
            });
            $(".ui-icon-info").tooltip({
                title: '1. Почніть вводити ім\'я. <br>2. Оберіть ім\'я зі списку. <br>3. Натисність <b>Enter</b>.<br> ',
                placement: "right",
                html: true,
                delay: {show: 300, hide: 500}
            });
            $(".sympt_info").click(function () {
                $(".ui-icon-info").tooltip('show');
            });
        });
    </script>
{% endblock %}