{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('/bundles/framework/css/doctor.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="alert alert-success">
        <h4><a href="{{ path('doctor_visit', { 'actorId': actorId }) }}"><p class="bg-success text-center">Новий
                    візит</p>
            </a></h4>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <table class="table table-condensed table-hover doc_reg_info">
            <thead>
            <tr class="active">
                <th>Дата</th>
                <th>Тип</th>
                <th>Діагноз</th>
                <th>Лікування</th>
                <th>Коментарі</th>
            </tr>
            </thead>
            <tbody>
            {% for regInfo in regInfos %}
                <tr>
                    <td>{{ regInfo.firstName }}</td>
                    <td>{{ regInfo.lastName }}</td>
                    <td>{{ regInfo.patronymic }}</td>
                    <td>{{ regInfo.phone }}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <table class="table table-condensed table-hover doc_reg_info">
            <thead>
            <tr class="active">
                <th>Дата</th>
                <th>Аналіз</th>
                <th>Файл</th>
            </tr>
            </thead>
            <tbody>
            {% for analys in analysys %}
                <tr>
                    <td>{{ analys.date | date("Y-m-d") }}</td>
                    <td>{{ analys.name }}</td>
                    <td><a href="{{ asset('uploads/' ~ analys.patId ~ '/' ~ analys.filename) }}">PDF</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
