{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('/bundles/framework/css/doctor.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>
{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="col-md-offset-5">Дії</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('doctor') }}">На головну</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('doctor_visit', { 'actorId': actorId }) }}">Новий візит</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <table class="table visit">
            <thead>
            <tr>
                <th><div class="col-md-offset-5">Історія візитів</div></th>
                {#<th>Тип</th>
                <th>Діагноз</th>
                <th>Лікування</th>
                <th>Коментарі</th>#}
            </tr>
            </thead>
            <tbody>
            {% for visit in visits %}
                <tr>
                    {# <td>{{ visit.date | date }} {{ visit.type }} {% if visit.illnesses %}{{ visit.illnesses }}</td>
                     <td></td>
                     <td>{% if visit.illnesses %}{{ visit.illnesses }}{% else %} - {% endif %}</td>#}
                    <td>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h5>{{ visit.date | date }}
                                    <small>{{ visit.type }}</small>
                                </h5>
                            </div>
                            <div class="panel-body">
                                {% if visit.illnesses %}<h5><b> Діагноз:</b>{{ visit.illnesses }}</h5> {% endif %}
                                {% if visit.medicines | length > 0 %}
                                    <b> Лікування:</b>
                                    <ul class="list-group">
                                        {% for medicine in visit.medicines %}
                                            <li class="list-group-item">{{ medicine.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <b> Коментар:</b>
                                {{ visit.comment }}

                            </div>
                        </div>

                    </td>
                    {#<td>{{ visit.comment }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="well" style="border-color: #EBF5FB; background-color:#F8F9F9;">
            <table class="table table-condensed table-hover doc_reg_info">
                <thead>
                <tr>
                    <th>
                        <div class="col-md-offset-4">Результати аналізів</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for analys in analysys %}
                    <tr>
                        <td>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ analys.date | date }}
                                </div>
                                <div class="panel-body">
                                    {{ analys.name }}
                                    {#<div style="text-align: right;">#}
                                    <a href="{{ asset('uploads/' ~ analys.patId ~ '/' ~ analys.filename) }}">PDF</a>
                                    {# </div>#}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/framework/js/jQuery/jquery-1.12.3.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script>
        // $('.admin').DataTable();
        $('.visit').DataTable({
            responsive: true
        });
        $('.doc_reg_info').DataTable({
            responsive: true
        });
    </script>
{% endblock %}
