{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('/bundles/framework/css/doctor.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>

{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if today %}
                    <div class="well">
                        <div class="col-md-offset-4">
                            <h4>Візитів сьогодні <span class="label label-danger">{{ visits | length }}</span></h4>
                        </div>
                    </div>
                {% endif %}
                <div class="well" style="border-color: #EBF5FB; background-color:#F8F9F9;">
                    <table class="table table-hover doc_reg_info">
                        <thead>
                        <tr>
                            <th>
                                <div class="col-md-offset-5">Пацієнти</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if today %}
                            {% for visit in visits %}
                                <tr class="list-group-item">
                                    <td>
                                        <h4>{{ visit.beginTime | date('H:i') }} - {{ visit.endTime | date("H:i") }}
                                            <br />
                                            {{ visit.patName }}
                                            {% if patients[loop.index - 1].actorId.id %}
                                            <small>({{ patients[loop.index - 1].phone }})</small>
                                        </h4>

                                        <a href="{{ path('doctor_card', { 'actorId': patients[loop.index - 1].actorId.id }) }}">Картка</a>
                                        {% else %}
                                            <small>Пацієнт ще не зареєстрований</small>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for regInfo in regInfos %}
                                <tr class="list-group-item">
                                    <td>
                                        <h4>{{ regInfo.lastName }} {{ regInfo.firstName }} {{ regInfo.patronymic }}
                                            <small>({{ regInfo.phone }})</small>
                                        </h4>
                                        <a href="{{ path('doctor_card', { 'actorId': regInfo.actorId.id }) }}">Картка</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
        <script>
            // $('.admin').DataTable();
            $('.doc_reg_info').DataTable({
                responsive: true
            });
        </script>
    {% endblock %}
