{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="col-md-6 col-md-offset-3">
    <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}{#
                            <input type="submit" value="Ñòâîðèòè" class="btn btn-success" onclick="radioChecked()"/>#}
                    {{ form_end(form) }}
                    <div class="ill_heading"></div>
                    <div class="illnesses"></div>
                </div>
            </div>
    </div>
</div>
    <div class="mod"> </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/framework/js/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/framework/js/treatment.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".sympt").tagit({
                allowSpaces: true,
                singleFieldDelimiter: ',',
                requireAutocomplete: true,
                removeConfirmation: true,
                tagSource: function (search, showChoices) {
                    console.log(search);
                    $.ajax({
                        url: "/doctor/search/sympt",
                        data: {"search" : search.term},
                        type: "POST",
                        dataType: "json",
                        success: function(choices) {
                            showChoices(choices.symptoms);
                        }
                    })
                }
            });
            $(".ui-icon-info").tooltip({
                title : '1. Почніть вводити симптом. <br>2. Оберіть один із запропонованих системою. <br>3. Натисніть <b>Enter</b>.<br> За необхідності, таким чином можна ввести декілька симптомів',
                placement: "right",
                html: true,
                delay: { show: 300, hide: 500 }
            });
            $(".sympt_info").click(function(){
                $(".ui-icon-info").tooltip('show');
            });
        });
    </script>
{% endblock %}

