{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('/bundles/framework/css/doctor.css') }}" rel="stylesheet"/>
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <img src="{{ asset('images/logo.png') }}"/>
        </div>
    </nav>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Створити" class="btn btn-success"/>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
