{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/auth.css') }}"/>

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/validationEngine.jquery.css') }}"/>
{% endblock %}

{% block body %}

    <div class="page-header">
    <div class="logo-auth">
        <img src="{{ asset('images/mg_small1.png') }}"/>
        <img src="{{ asset('images/title1.png') }}"/>
    </div>

    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading"><img src="{{ asset('images/auth.png') }}"/></div>
                            <div class="panel-body">
                                {{ form_start(form, {'attr' : {'novalidate' : 'true'}}) }}
                                {{ form_widget(form) }}
                                {{ error }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

