{% extends 'base.html.twig' %}

{% block body %}
    <h1>Auth list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actorid</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auth in auths %}
            <tr>
                <td><a href="{{ path('auth_show', { 'id': auth.id }) }}">{{ auth.id }}</a></td>
                <td>{{ auth.actorId }}</td>
                <td>{{ auth.username }}</td>
                <td>{{ auth.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('auth_show', { 'id': auth.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('auth_edit', { 'id': auth.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auth_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
