{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block body %}
    {% include 'medicalstaff/header.html.twig' %}

    <div class="col-md-6 col-md-offset-3">
        <div class="container-fluid">
            <div class="row">
                <div class="well">
                    <h5 class="text-danger col-md-offset-4"><a href="{{ path('admin_new') }}">Зареєструвати нового лікаря</a></h5>
                </div>
                <table class="table-striped table-hover admin">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>По-батькові</th>
                        <th>Посада</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicalStaff in medicalStaffs %}
                            <td>{{ medicalStaff.firstname }}</td>
                            <td>{{ medicalStaff.lastname }}</td>
                            <td>{% if  medicalStaff.patronymic %}{{ medicalStaff.patronymic }} {% else %} -  {% endif %}</td>
                            <td>{{ medicalStaff.specialization }}</td>
                            <td>
                                <ul class="list-group">
                                    <li>
                                        <a href="{{ path('admin_show', { 'actorId': medicalStaff.actorId.id }) }}">переглянути</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_edit', { 'actorId': medicalStaff.actorId.id }) }}">редагувати</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="background"><img class="watermark" src="{{ asset('images/back.png') }}"/></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
       // $('.admin').DataTable();
        $('.admin').DataTable( {
            responsive: true
        } );
    </script>
{% endblock %}
