{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-5">Дії</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('admin_new') }}">Зареєструвати нового лікаря</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="well" style="border-color: #EBF5FB; background-color:#F8F9F9;">
                    <table class="table-striped table-hover admin">
                        <thead>
                        <tr>
                            <th>Ім'я</th>
                            <th>Прізвище</th>
                            <th>По-батькові</th>
                            <th>Посада</th>
                            <th>Дії</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for medicalStaff in medicalStaffs %}
                            <tr>
                                <td>{{ medicalStaff.firstname }}</td>
                                <td>{{ medicalStaff.lastname }}</td>
                                <td>{% if  medicalStaff.patronymic %}{{ medicalStaff.patronymic }} {% else %} -  {% endif %}</td>
                                <td>{{ medicalStaff.specialization }}</td>
                                <td>
                                    <ul class="list-group">
                                        <li>
                                            <a href="{{ path('admin_show', { 'actorId': medicalStaff.actorId.id }) }}">переглянути</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_edit', { 'actorId': medicalStaff.actorId.id }) }}">редагувати</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="background"><img class="watermark" src="{{ asset('images/back.png') }}"/></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script>
        // $('.admin').DataTable();
        $('.admin').DataTable({
            responsive: true
        });
    </script>
{% endblock %}
