{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="logo-position">
            <img src="{{ asset('images/title1.png') }}"/>
        </div>
        <h1 class="text-header">Медичний Персонал</h1>
        <div class="logout-button">
            <a href="{{ path('logout') }}" class="btn btn-default btn-lg">Вихід</a>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="row">
                <div class="alert alert-success">
                        <h4><a href="{{ path('admin_new') }}"><p class="bg-success text-center">Створити новий запис</p></a></h4>
                </div>
                <table class="table table-hover admin">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>По-батькові</th>
                        <th>Дата народження</th>
                        <th>Посада</th>
                        <th>Номер телефону</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicalStaff in medicalStaffs %}
                        {% if medicalStaff.actorId == 3 %}
                            <tr class="field-color-blue">
                        {% endif %}
                        {% if medicalStaff.actorId == 4 %}
                            <tr class="field-color-green">
                        {% endif %}
                            <td>{{ medicalStaff.firstname }}</td>
                            <td>{{ medicalStaff.lastname }}</td>
                            <td>{{ medicalStaff.patronymic }}</td>
                            <td>{% if medicalStaff.dateofbirth %}{{ medicalStaff.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ medicalStaff.specialization }}</td>
                            <td>{{ medicalStaff.phonenumber }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_show', { 'id': medicalStaff.id }) }}">відкрити</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_edit', { 'id': medicalStaff.id }) }}">редагувати</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="background"><img src="{{ asset('images/back.png') }}"/></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
       // $('.admin').DataTable();
        $('.admin').DataTable( {
            responsive: true
        } );
    </script>
{% endblock %}
