{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-right">
        <a href="/logout" class="btn btn-default">Вихід</a>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1>Медичний Персонал</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="alert alert-success">
                        <h4><a href="{{ path('admin_new') }}"><p class="bg-success text-center">Створити новий запис</p></a></h4>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>По-батькові</th>
                        <th>Дата народження</th>
                        <th>Посада</th>
                        <th>Номер телефону</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicalStaff in medicalStaffs %}
                        <tr>
                            <td>{{ medicalStaff.firstname }}</td>
                            <td>{{ medicalStaff.lastname }}</td>
                            <td>{{ medicalStaff.patronymic }}</td>
                            <td>{% if medicalStaff.dateofbirth %}{{ medicalStaff.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ medicalStaff.specialization }}</td>
                            <td>{{ medicalStaff.phonenumber }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_show', { 'id': medicalStaff.id }) }}">відкрити</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_edit', { 'id': medicalStaff.id }) }}">редагувати</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
