{% extends 'base.html.twig' %}

{% block body %}
<div class="text-right">
    <a href="/logout" class="btn btn-default">Вихід</a>
</div>
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-info">
            <h2 class="text-center">Персональна інформація</h2>
        </div>
    <div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ім'я</th>
                <td>{{ medicalStaff.firstname }}</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>{{ medicalStaff.lastname }}</td>
            </tr>
            <tr>
                <th>По-батькові</th>
                <td>{{ medicalStaff.patronymic }}</td>
            </tr>
            <tr>
                <th>Дата народження</th>
                <td>{% if medicalStaff.dateofbirth %}{{ medicalStaff.dateofbirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Посада</th>
                <td>{{ medicalStaff.specialization }}</td>
            </tr>
            <tr>
                <th>Номер телефону</th>
                <td>{{ medicalStaff.phonenumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_index') }}" class="btn btn-warning">Назад до списку</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': medicalStaff.id }) }}" class="btn btn-warning">Редагувати</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Видалити">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            </div>
    </div>
{% endblock %}
