{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-5">Дії</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{{ path('admin_index') }}">Назад до списку</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('admin_edit', { 'actorId': medicalStaff.actorId.id }) }}">Редагувати</a>
                            </li>
                            <li class="list-group-item danger">
                                {{ form_start(delete_form) }}
                                    <input type="submit" class="alert-danger" value="Видалити">
                        {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Ім'я</th>
                        <td>{{ medicalStaff.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Прізвище</th>
                        <td>{{ medicalStaff.lastname }}</td>
                    </tr>
                    <tr>
                        <th>По-батькові</th>
                        <td>{{ medicalStaff.patronymic }}</td>
                    </tr>
                    <tr>
                        <th>Дата народження</th>
                        <td>{% if medicalStaff.dateofbirth %}{{ medicalStaff.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Посада</th>
                        <td>{{ medicalStaff.specialization }}</td>
                    </tr>
                    <tr>
                        <th>Номер телефону</th>
                        <td>{{ medicalStaff.phonenumber }}</td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
{% endblock %}
