{% extends 'base.html.twig' %}

{% block body %}
    {% include 'medicalstaff/header.html.twig' %}
    <div class="col-md-6 col-md-offset-3">
    <div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ім'я</th>
                <td>{{ medicalStaff.firstname }}</td>
            </tr>
            <tr>
                <th>Прізвище</th>
                <td>{{ medicalStaff.lastname }}</td>
            </tr>
            <tr>
                <th>По-батькові</th>
                <td>{{ medicalStaff.patronymic }}</td>
            </tr>
            <tr>
                <th>Дата народження</th>
                <td>{% if medicalStaff.dateofbirth %}{{ medicalStaff.dateofbirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Посада</th>
                <td>{{ medicalStaff.specialization }}</td>
            </tr>
            <tr>
                <th>Номер телефону</th>
                <td>{{ medicalStaff.phonenumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_index') }}" class="btn btn-warning">Назад до списку</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'actorId': medicalStaff.actorId.id }) }}" class="btn btn-warning">Редагувати</a>
        </li>
    </ul>
            {{ form_start(delete_form) }}
            <div class="btn-right">
                <input type="submit" class="btn btn-danger" value="Видалити">
            </div>
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
